
.mb-40{
    margin-bottom: 40px;
}
.align-center{
    text-align: center;
}
.card-title{
    text-transform: capitalize;
}
.card-body-custom {
    width: 100%;
    height: 69%;
    position: absolute;
    text-align: center;
    padding: 10px;
    background: #0000004a;
}
.roboto-font{
    font-family: 'Roboto', sans-serif;
}
.lato-font{
    font-family: 'Lato', sans-serif;
}
.bebas-neue-font{
    font-family: 'Bebas Neue', cursive;
}
.indie-flower-font{
    font-family: 'Indie Flower', cursive;
}
.lobster-font{
    font-family: 'Lobster', cursive;
}
.btn-limpar{
    color: red;
}