﻿
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" >
    <link href="css/style.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Indie+Flower|Lato|Lobster|Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" id="list-dog-custom">
        <div class="row">
            <div class="col-12 jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="indie-flower-font display-4 align-center">Challenge-two</h1>
                    <p class="lead align-center mb-40">Desafio Challenge-two - Dog API. Escolha e personalize os detalhes do dog com as opções as seguir</p>
                    
                    <section class="col-12">
                        <div>
                            <form>
                                <div class="form-row mb-40">
                                    <div class="form-group col-md-3 col-sm-12">
                                        <input type="hidden" class="form-control" id="url-dog-image">
        
                                        <label for="raca-dog">Raça</label>
                                        <select name="raca-dog" id="raca-dog" class="form-control" 
                                            data-bind="options: allBreeds,
                                                optionsText: 'nome',
                                                value: allBreeds.valor,
                                                optionsCaption: 'Selecione',
                                                event:{ change: getDogImage(allBreeds.valor)}">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-12">
                                        <label for="nome-dog">Nome do Dog</label>
                                        <input type="text" class="form-control" id="nome-dog">
                                    </div>
                                    <div class="form-group col-md-2 col-sm-12">
                                        <label for="cor-fonte">Cor do Nome</label>
                                        <input type="color" class="form-control" id="cor-fonte">
                                    </div>
                                    <div class="form-group col-md-3 col-sm-12">
                                        <label for="familia-fonte">Fonte do nome</label>
                                        <select name="familia-fonte" id="familia-fonte" class="form-control" 
                                            data-bind="">
                                                <option value="">Selecione</option>
                                                <option value="roboto">Roboto</option>
                                                <option value="lato">Lato</option>
                                                <option value="bebas-neue">Bebas Neue</option>
                                                <option value="indie-flower">Indie Flower</option>
                                                <option value="lobster">Lobster</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="align-center">
                                    <button class=" col-2 btn btn-primary" data-bind="click: function() { salvarDogCustom()}">Salvar Customização</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
                    
            <section class="col-12">
                <div class="alert alert-success" role="alert" data-bind="visible: msgSucesso">
                    Customização salva com sucesso
                </div>
                <div class="alert alert-warning" role="alert" data-bind="visible: msgAlerta">
                    Nenhuma raça selecionada
                </div>
                
                <div id="dog-images-custom" >
                    <h5 class="indie-flower-font align-center">
                        Doguinhos Customizados
                        <img src="images/dog-vector-line.jpg" width="40" heigth="40"> - 
                        <small class="btn-limpar" data-bind="click: function() { limparDogsSalvos()}">limpar customizações</small>
                    </h5>
                    <div class="row" data-bind="foreach: { data: detalhesDogSalvo, as: 'dog' }">
                        <div class="col-sm-3">
                            <div class="card text-right">
                                <img data-bind="attr:{ src: dog.dogUrl}" 
                                    class="card-img-top" 
                                    alt="..."
                                    width="80"
                                    height="250">
                                <div class="card-body-custom" 
                                    data-bind="
                                        style: { color: dog.corFonte ? dog.corFonte : '#fff' },
                                        css:  dog.familiaFonte ">
                                    <h5 class="card-title" data-bind="text: dog.nomeDog"></h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title" data-bind="text: dog.racaNome"></h5>
                                    <small data-bind="text: 'Inserido em: ' + dog.datetime"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

<script src="libs/jquery/jquery-1.11.3.js"></script>
<script src="libs/knockout/knockout-3.4.2.js"></script>
<script src="js/app.js"></script>
